<form method="POST" id="update_dish">
    <div class="new_dish">
        
         <div class="form-group">
            <label for="name" class="text-light"></label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Dish title">
        </div>
       
        <div class="form-group">
         <label for="type" class="text-light"></label>
         <input type="hidden" name="id" value="">
         <input type="text" name="type" value="" placeholder="Dish Type">
        </div>
        
        <div class="form-group">
             <label for="price" class="text-light"></label>
             <input type="hidden" name="id" value="">
             <input type="text" name="price" value="" placeholder="Dish Price">
         </div>                
     </div>
     <div class="form-group">
         <button type="submit" class="btn text-dark update">SAVE</button>

     </div>
    </div>
 </form>