<tr>
    <td>1</td>
    <td>Dish Name</td>
    <td>Dish type</td>
    <td>Price</td>
    <td>
        <a class="btn border-shadow update">
            <span class="text-gradient">Edit</span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient">Delete</span>
        </a>
    </td>
</tr>